<main>
    <header class="app-description">
        <p> Live Chat with Angular 9 & ASP .NET SignalR</p>
    </header>
    
    <div class="angular-signal-logotipos">
        <img src="../../../assets/img/angular_logo.png"  />
        <img src="../../../assets/img/signalr.png" />
    </div>

    
    <div class="name-field-enter-chat-button">
        <input #inputName type="text" class="name-field" placeholder="Digite seu nome" 
        [class.input-field-error] = "hasInpurError"  />
        <p class="user-name-error-message" *ngIf="hasInpurError">
            Insira um nome de usuário, por favor.
        </p>
        <div class="enter-chat-button" (click) = "onEnterButtonClicked(inputName.value)">
            <p> Entrar no chat</p>
        </div>
    </div>
</main>