main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.angular-signal-logotipos > img {
    margin-top: 2em;
    max-width: 185px;
    max-height: 185px;
}

.name-field-enter-chat-button {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    max-width: 600px;
    margin-top: 5em;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 2px 4px 17px #666468;
}

.name-field {
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    padding: 0px 15px;

    border: 1px solid ;
    border-color: rgb(155, 160, 165);
    border-radius: 10px;
    outline: none;

    transition: border-width .3s ease-in-out;
    transition: border-color .3s ease-in-out;

    &:hover {
        border-width: 2px;
        border-color:  rgb(107, 178, 209);
    }
}

.input-field-error {
    border-width: 2px;
    border-color:  rgb(250, 91, 91);
}

.user-name-error-message {
    color: rgb(250, 91, 91);
    margin: 5px;
}

.enter-chat-button {
    cursor: pointer;
    margin-top: 2em;
    padding: 0px 15px;

    border-radius: 10px;
    border: 1px solid;

    background-color: rgb(202, 228, 241);
    color: rgb(107, 178, 209);
    border-color: rgb(185, 219, 242);

    transition: background-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
    transition: color .3s ease-in-out;

    &:hover {
        border: 1px solid rgb(130, 196, 240);
        background-color: rgb(164, 215, 240);
        color: white;
    }
}