main {
    margin: 0 auto;
    border: 5px solid green;
    height: 50vh;
    width: 80%;

    p {
        margin: 0;
    }
}

main, .messages-container, .new-message-container{
    display: flex;
}

main, .messages-container {
    flex-direction: column;
}

.messages-container {
    display: flex;
    flex-direction: column;
    height: 80%;

    border: 1px solid blue;
}

.message {
    width: 20%;
    border: 1px solid red;
}

.center-side-message {
    align-self: center;
}

.right-side-message {
    align-self: flex-end;
}

.new-message-container {
    height: 20%;
    align-items: center;
    justify-content: center;
}

.send-new-message-btn {
    cursor: pointer;
}