main, .messages-container, .new-message-container, .message {
    display: flex;
}

main, .messages-container, .message {
    flex-direction: column;
}

main {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    height: 50vh;
    width: 80%;
    max-width: 800px;
    min-width: 800px;
    padding: 10px;

    border-radius: 15px;
    box-shadow: 0px 3px 6px 5px #c3bebe;

    p {
        margin: 0;
    }
}

.messages-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-y: auto;
    border-bottom: 1px solid #c8c1c1;
}

.messages-container > :first-child {
    margin-top: auto;
}

.message {
    width: 36%;
    padding: 10px;
}

.message-content {
    padding: 20px;
    background-color: #fd9999;
    border-radius: 6px;
    color: #534242;;
    letter-spacing: 1px;
}

.message-content-right-side {
    background-color: #9cd6ea;
}

.user-name {
    align-self: flex-end;
    padding: 4px 10px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #fd9999;
}

.user-name-right-side {
    color: #26a9c7;
}

.center-side-message {
    align-self: center;
}

.right-side-message {
    align-self: flex-end;
}

.new-message-container {
    height: 20%;
    align-items: center;
    justify-content: center;
}

.new-message-field {
    width: 70%;
    resize: none;
    border-radius: 5px;
    overflow: hidden;
    outline: none;

    border-color: #8ccddb;
    border-width: 1px;

    transition: border-color .3s ease-in-out;
    transition: border-width .3s ease-in-out;

    &:hover {
        border: 2px solid;
        border-color: #36acc7;
    }
}

.send-new-message-btn {
    cursor: pointer;
}